In [1]:
import pandas as pd
import math
import sklearn

In [5]:
first_sent="Data is every where and is very useful"
second_sent="Machine learning and deep learning are useful for data"
first_sent=first_sent.split(" ")
second_sent=second_sent.split(" ")
vocab=set(first_sent).union(set(second_sent))
vocab

{'Data',
 'Machine',
 'and',
 'are',
 'data',
 'deep',
 'every',
 'for',
 'is',
 'learning',
 'useful',
 'very',
 'where'}

In [6]:
wordDict1=dict.fromkeys(vocab,0)
wordDict2=dict.fromkeys(vocab,0)
wordDict1

{'Data': 0,
 'deep': 0,
 'very': 0,
 'useful': 0,
 'is': 0,
 'Machine': 0,
 'are': 0,
 'for': 0,
 'data': 0,
 'learning': 0,
 'every': 0,
 'where': 0,
 'and': 0}

In [7]:
wordDict2

{'Data': 0,
 'deep': 0,
 'very': 0,
 'useful': 0,
 'is': 0,
 'Machine': 0,
 'are': 0,
 'for': 0,
 'data': 0,
 'learning': 0,
 'every': 0,
 'where': 0,
 'and': 0}

In [8]:
for word in first_sent:
    wordDict1[word] +=1
for word in second_sent:
    wordDict2[word] +=1

In [9]:
wordDict1

{'Data': 1,
 'deep': 0,
 'very': 1,
 'useful': 1,
 'is': 2,
 'Machine': 0,
 'are': 0,
 'for': 0,
 'data': 0,
 'learning': 0,
 'every': 1,
 'where': 1,
 'and': 1}

In [11]:
 wordDict2

{'Data': 0,
 'deep': 1,
 'very': 0,
 'useful': 1,
 'is': 0,
 'Machine': 1,
 'are': 1,
 'for': 1,
 'data': 1,
 'learning': 2,
 'every': 0,
 'where': 0,
 'and': 1}

In [14]:
df=pd.DataFrame([wordDict1,wordDict2])
df

,Data,deep,very,useful,is,Machine,are,for,data,learning,every,where,and
0,1,0,1,1,2,0,0,0,0,0,1,1,1
1,0,1,0,1,0,1,1,1,1,2,0,0,1

In [16]:
def calculateTF(wordDict,doc):
    tfDict={}
    len_corpus=len(doc)
    for word, count in wordDict.items():
            tfDict[word]=count/len_corpus

    return tfDict

In [17]:
calculateTF(wordDict1,first_sent)

{'Data': 0.125,
 'deep': 0.0,
 'very': 0.125,
 'useful': 0.125,
 'is': 0.25,
 'Machine': 0.0,
 'are': 0.0,
 'for': 0.0,
 'data': 0.0,
 'learning': 0.0,
 'every': 0.125,
 'where': 0.125,
 'and': 0.125}

In [18]:
calculateTF(wordDict2,second_sent)

{'Data': 0.0,
 'deep': 0.1111111111111111,
 'very': 0.0,
 'useful': 0.1111111111111111,
 'is': 0.0,
 'Machine': 0.1111111111111111,
 'are': 0.1111111111111111,
 'for': 0.1111111111111111,
 'data': 0.1111111111111111,
 'learning': 0.2222222222222222,
 'every': 0.0,
 'where': 0.0,
 'and': 0.1111111111111111}

In [25]:
tf1=calculateTF(wordDict1,first_sent)
tf2=calculateTF(wordDict2,second_sent)
tf=pd.DataFrame([tf1,tf2])
tf

,Data,deep,very,useful,is,Machine,are,for,data,learning,every,where,and
0,0.125,0.000000,0.125,0.125000,0.25,0.000000,0.000000,0.000000,0.000000,0.000000,0.125,0.125,0.125000
1,0.000,0.111111,0.000,0.111111,0.00,0.111111,0.111111,0.111111,0.111111,0.222222,0.000,0.000,0.111111

In [26]:
import nltk
from nltk.corpus import stopwords
stopwords.words("English")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [34]:
f1=[word for word in wordDict1 if word.lower() not in stopwords.words("English")]
f2=[word for word in wordDict2 if word.lower() not in stopwords.words("English")]

In [35]:
f1

['Data', 'deep', 'useful', 'Machine', 'data', 'learning', 'every']

In [36]:
f2

['Data', 'deep', 'useful', 'Machine', 'data', 'learning', 'every']

In [55]:
def calculateIDF(doc):
    idfDict={}
    len_doc=len(doc)
    idfDict=dict.fromkeys(doc[0].keys(),0)
    for word, val in idfDict.items():
        idfDict[word]=math.log10(len_doc/ (float(val)+1))
    return(idfDict)

In [56]:
wordDict1

{'Data': 1,
 'deep': 0,
 'very': 1,
 'useful': 1,
 'is': 2,
 'Machine': 0,
 'are': 0,
 'for': 0,
 'data': 0,
 'learning': 0,
 'every': 1,
 'where': 1,
 'and': 1}

In [52]:
wordDict2

{'Data': 0,
 'deep': 1,
 'very': 0,
 'useful': 1,
 'is': 0,
 'Machine': 1,
 'are': 1,
 'for': 1,
 'data': 1,
 'learning': 2,
 'every': 0,
 'where': 0,
 'and': 1}

In [57]:
idfs=calculateIDF([wordDict1,wordDict2])
idfs

{'Data': 0.3010299956639812,
 'deep': 0.3010299956639812,
 'very': 0.3010299956639812,
 'useful': 0.3010299956639812,
 'is': 0.3010299956639812,
 'Machine': 0.3010299956639812,
 'are': 0.3010299956639812,
 'for': 0.3010299956639812,
 'data': 0.3010299956639812,
 'learning': 0.3010299956639812,
 'every': 0.3010299956639812,
 'where': 0.3010299956639812,
 'and': 0.3010299956639812}

In [59]:
def computeTFIDF(tfBow,idfs):
    tfidf={}
    for word ,val in tfBow.items():
        tfidf[word]=val*idfs[word]
    return (tfidf)
idf1=computeTFIDF(tf1,idfs)
idf2=computeTFIDF(tf2,idfs)
#Dataframe
idf=pd.DataFrame([idf1,idf2])
idf

,Data,deep,very,useful,is,Machine,are,for,data,learning,every,where,and
0,0.037629,0.000000,0.037629,0.037629,0.075257,0.000000,0.000000,0.000000,0.000000,0.000000,0.037629,0.037629,0.037629
1,0.000000,0.033448,0.000000,0.033448,0.000000,0.033448,0.033448,0.033448,0.033448,0.066896,0.000000,0.000000,0.033448

In [65]:

from sklearn.feature_extraction.text import TfidfVectorizer
first_sent="Data is every where and is very useful"
second_sent="Machine learning and deep learning are useful for data"
vec=TfidfVectorizer()
result=vec.fit_transform([first_sent,second_sent])
result.toarray()

array([[0.24377685, 0.        , 0.24377685, 0.        , 0.34261985,
        0.        , 0.68523971, 0.        , 0.        , 0.24377685,
        0.34261985, 0.34261985],
       [0.2306165 , 0.32412345, 0.2306165 , 0.32412345, 0.        ,
        0.32412345, 0.        , 0.6482469 , 0.32412345, 0.2306165 ,
        0.        , 0.        ]])

In [68]:
pd.DataFrame(result.toarray(),columns= vec.get_feature_names_out())

,and,are,data,deep,every,for,is,learning,machine,useful,very,where
0,0.243777,0.000000,0.243777,0.000000,0.34262,0.000000,0.68524,0.000000,0.000000,0.243777,0.34262,0.34262
1,0.230617,0.324123,0.230617,0.324123,0.00000,0.324123,0.00000,0.648247,0.324123,0.230617,0.00000,0.00000